/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&family=Poppins&display=swap');

/* Base */
body {
  background-color: #390a97;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  max-width: 960px;
  margin: 40px auto;
  padding: 40px;
  background-color: #fefbe3;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  border: 3px solid #4de211;
}

/* Textos */
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  color: #390a97;
}

p, li {
  font-family: 'Nunito', sans-serif;
  color: #390a97;
}

a {
  color: #4de211;
  text-decoration: none;
}

a:hover {
  color: #3fa34d;
}

/* Navbar Sticky */
#nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fefbe3;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Contenedor de navbar */
.nav-container {
  max-width: 960px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

/* Logo */
.logo {
  font-weight: 700;
  font-size: 1.5rem;
  color: #390a97;
  font-family: 'Poppins', sans-serif;
}

/* Links desktop */
.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  font-weight: 600;
  color: #222222;
  font-family: 'Poppins', sans-serif;
}

.nav-links a:hover {
  color: #4de211;
}

/* Hamburguesa oculta por defecto */
.menu-toggle {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: #3fa34d;
  background-color: #fefbe3;
  border: 2px solid #3fa34d;
  padding: 5px 10px;
  border-radius: 8px;
}



/* Responsive nav */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    gap: 15px;
    background-color: #fefbe3; /* Fondo crema */
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .nav-links.show {
    display: flex;
  }

  .nav-links a {
    color: #390a97 !important; /* Morado oscuro */
  }

  .nav-links a:hover {
    color: #4de211 !important; /* Verde limón */
  }
}


/* Secciones */
section {
  padding: 2em;
}

/* Footer */
footer {
    background-color: #390a97;
    color: ##fefbe3 !important;
    text-align: center;
    padding: 1em;
}

footer p {
  color: #fefbe3 !important;
}
/* Detalles en verde pasto */
.highlight {
  color: #3fa34d;
}

@media (max-width: 768px) {
  .nav-container img {
    height: 60px !important; /* Puedes ajustar este valor */
  }
}

