
/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&family=Poppins&display=swap');

body {
    background-color: #390a97; /* Color de fondo externo */
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    max-width: 960px;
    margin: 40px auto;
    padding: 40px;
    background-color: #fefbe3; /* fondo interno tipo hoja */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); /* sombra para el marco */
    border-radius: 12px;
    border: 3px solid #4de211; /* verde para detalles */
}


h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: #390a97;
}

p, li {
    font-family: 'Nunito', sans-serif;
}

a {
    color: #4de211;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #390a97;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

section {
    padding: 2em;
}

footer {
    background-color: #390a97;
    color: #ffffff;
    text-align: center;
    padding: 1em;
}

/* Verde pasto para detalles */
.highlight {
    color: #3fa34d;
}
